@page
@using _0_Framework.Application
@model WebHost.Areas.UserPanel.Pages.Account.IndexModel
@{
}


<div class="container mt-lg-5">
<div class="img cover-img"></div>
    <div class="card social-prof">
        <div class="card-body">
            <div class="wrapper">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="user-profile">
                <h3>@Model.Information.FullName</h3>
                <p>@Model.Information.Skill</p>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <ul class=" nav nav-tabs justify-content-center s-nav">
                        <li><a class="active" href="#">مشخصات من</a></li>
                        <li><a asp-page="Index" asp-page-handler="Edit" asp-route-id="@Model.Information.Id">ویرایش</a></li>
                        <li><a href="#">دوره های من</a></li>
                        <li><a href="#">نظرات من</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body info-card social-about">
                    <h2 class="text-blue">در باره</h2>
                    <h4><strong>در باره من </strong></h4>
                    <p>@Model.Information.AboutMe </p>
                    <h4 class="mb-3"><strong>اطلاعات شخصی</strong></h4>
                    <div class="row">
                        <div class="col-6">
                            <div class="social-info">
                                <i class="fas fa-birthday-cake mr-2"></i>
                                <span>@Model.Information.BirthDate</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="social-info">
                                <i class="fas fa-map-marker-alt mr-2"></i>
                                <span>@Model.Information.Province -@Model.Information.City.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="social-info">
                                <i class="fas fas fa-users mr-2"></i>
                                <span>@Model.Information.Gander</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="social-info">
                                <i class="fas fa-briefcase mr-2"></i>
                                <span> @Model.Information.Skill</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="social-info">
                                <i class="fas fas fa-mobile mr-2"></i>
                                <span>@Model.Information.Phone</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="social-info">
                                <i class="fas fas fa-envelope mr-2"></i>
                                <span>@Model.Information.Email</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card info-card">
                <div class="card-body">
                    <h2 class="text-blue">Skills</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>HTML5</h4>
                            <div class="mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4>Bootstrap Framework</h4>
                            <div class="mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Vanilla Javascript</h4>
                            <div class="mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4>Angular Js</h4>
                            <div class="mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Adobe Photoshop</h4>
                            <div class="mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4>Adobe Illustrator</h4>
                            <div class="mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>SASS/SCSS</h4>
                            <div class="mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4>
                                WORDPRESS
                            </h4>
                            <div class="mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card info-card">
                <div class="card-body">
                    <h2 class="text-blue">Education</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4><strong>Pune University </strong></h4>
                            <p>May 2009 to June 2011 </p>
                        </div>
                        <div class="col-lg-6">
                            <h4><strong>Course: Gamification</strong></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="col-lg-6">
                            <h4><strong>St Xavier Highschool</strong></h4>
                            <p>Aug 2004 to June 2009 </p>
                        </div>
                        <div class="col-lg-6">
                            <h4><strong>Bachelor - Computer Science</strong></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card info-card">
                <div class="card-body">
                    <h2 class="text-blue">Work</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4><strong>Creative Arts - 2016-19</strong></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="col-lg-6">
                            <h4><strong>Web Media - 2014-16</strong></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="col-lg-6">
                            <h4><strong>Global Infosoft - 2012-14</strong></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="col-lg-6">
                            <h4><strong>Freelancer - 2011-12</strong></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>