@using _0_FrameWork.Application
@using CommentManagement.Domain.CourseCommentAgg
@using Type = _0_FrameWork.Application.ThisType
@model IEnumerable<CommentManagement.Domain.Notification.Agg.Notification>
@inject ICommentRepository _comment


<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>

    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <br/>
        <p class=" alert-info text-center">آخرین گزارشات امروز</p>
        @foreach (var item in Model)
        {
            @if (item.Type == Type.Comment)
            {
                var comments = _comment.GetCommentBy(item.RecordOwnerId).Take(3);
                <li>
                    <a asp-page="/Comment/Index" asp-area="Administration">
                        <div>

                            <i class="fa fa-comment fa-fw"></i> @item.Text.Replace(item.Text, "کمنت جدید ")
                            @foreach (var comment in comments.Where(comment => !comment.IsConfirmed && !comment.IsCanceled))
                            {
                                <span style="font-size: 11px;" class="text-warning">در انتظار</span>
                            }
                            <span class="pull-left text-muted small">@item.CreationDate.TimeAgo()</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
            }

            @if (item.Type == Type.Order)
            {
                <li>
                    <a asp-page="/Notifications/Index" asp-area="Administration">
                        <div>
                            <i class="fa fa-shopping-cart fa-fw"></i> @item.Text.Replace(item.Text, "سفارشی ثبت شد ")

                            <span class="pull-left text-muted small">@item.CreationDate.TimeAgo()</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
            }

            @if (item.Type == Type.Account)
            {
                <li>
                    <a asp-page="/Account/Users/Index" asp-area="Administration" class="list-group-item">
                        <div>
                            <i class="fa fa-user fa-fw"></i> @item.Text.Replace(item.Text, "عضو جدید ")

                            <span class="pull-left text-muted small">@item.CreationDate.TimeAgo()</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
            }
        }

        @if (!Model.Any())
        {
            <li>
                <a>
                    <div>
                        <span>برای امروز هیچ اعلانی وجود ندارد</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
        }

        <li>
            <a class="text-center" asp-page="/Notifications/Index" asp-area="Administration">
                <strong>همه اعلان ها</strong>
                <i class="fa fa-angle-left"></i>
            </a>
        </li>
    </ul>
    <!-- /.dropdown-alerts -->
</li>