@page
@using _0_Framework.Application
@using ShiftCoderQuery.Contract.Course
@model WebHost.Pages.CoursesModel
@{
    ViewData["Title"] = "دوره های آموزشی";
    var courseGroup = ViewData["checked"] as List<string>;
    var searchModel = ViewData["SearchModel"] as CourseQuerySearchModel;
}

<div class="container">
    <div class="row">
        <form method="get" id="submitSearch">
            <main>
                <div id="header-body">
                    <h1 id="title-main">دوره های آموزشی <span>(@Model.Course.Courses.Count)</span></h1>
                    <div id="container-search">
                        <i class="fal fa-search search-icon"></i>
                        <input asp-for="SearchModel.Name" type="text" placeholder="دنبال چه دوره ای میگردی ..." id="input-search">
                    </div>
                </div>
                <div id="container-body" class="container">
                    <div class="row">

                        <aside id="sidebar-main" class="col-12 col-lg-3">
                            <div class="accordion-header container-accoradion-sidebar " id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <span class="span-title-btn-accordion">فیلتر قیمت ها</span>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div id="content-first-accordion">
                                                <a asp-page="Courses" style="padding: 10px; color:black" class="text-center btn-first-accordion @(searchModel != null && searchModel.Filter==null?"active-btn-accordion":"")"><span class="mt-5">همه</span></a>
                                                <button name="SearchModel.Filter" class="btn-first-accordion @(searchModel is {Filter: "free" }?"active-btn-accordion":"")" value="free">رایگان</button>
                                                <button name="SearchModel.Filter" class="btn-first-accordion @(searchModel!=null && searchModel.Filter=="price"?"active-btn-accordion":"")" value="price">خریدنی</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion container-accoradion-sidebar" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <span class="span-title-btn-accordion">مرتب سازی دوره ها</span>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="content-first-accordion">

                                                <div id="content-second-accordion">
                                                    <div class="form-check">
                                                        <input asp-for="SearchModel.Filter" value="newest" onchange="Search()" class="form-check-input" type="radio" id="flexRadioDefault1">
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            جدید ترین
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input asp-for="SearchModel.Filter" value="popular" class="form-check-input" onchange="Search()" type="radio" id="flexRadioDefault2">
                                                        <label class="form-check-label" for="flexRadioDefault2">
                                                            محبوب ترین
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input asp-for="SearchModel.Filter" value="minPrice" onchange="Search()" class="form-check-input" type="radio" id="flexRadioDefault3">
                                                        <label class="form-check-label" for="flexRadioDefault3">
                                                            ارزان ترین
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input asp-for="SearchModel.Filter" value="maxPrice" onchange="Search()" class="form-check-input" type="radio" id="flexRadioDefault4">
                                                        <label class="form-check-label" for="flexRadioDefault4">
                                                            گران ترین
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion container-accoradion-sidebar" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <span class="span-title-btn-accordion">فیلتر دسته بندی ها</span>
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            @foreach (var group in Model.CourseGroups)
                                            {
                                                <div class="form-check">
                                                    <input name="categories" onchange="Search()" @*@(courseGroup != null && courseGroup.Any(x => x == group.Title) ? "checked" : "")*@ class="form-check-input" type="checkbox" value="@group.Title" id="programming-checkbox">
                                                    <label class="form-check-label" for="programming-checkbox">
                                                        @group.Title
                                                    </label>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>

                        <section id="container" class="card col-12 col-lg-9">
                            <div class="container" id="container-cards">
                                <div class="row" id="row-container-cards">
                                    @foreach (var course in Model.Course.Courses)
                                    {
                                        <div class="col-10 col-md-6 col-lg-4 col-card">
                                            <div class="card container-card">
                                                <a asp-page="SingleCourse" asp-route-id="@course.Slug" class="anchor-cards">
                                                    <img src="~/FileUploader/@course.Picture" class="card-img-top img-card" alt="@course.PictureAlt" title="@course.PictureTitle">
                                                    <div class="card-body">
                                                        <h5 class="card-title title-card">@course.Name</h5>
                                                        <div class="container-items-card">
                                                            <div>
                                                                <img src="icons/teacher-2.png" alt="Teacher" class="img-teacher-card">
                                                                <span class="span-item-card">@course.TeacherName</span>
                                                            </div>
                                                            <div class="chat-display-item-none">
                                                                <img src="icons/chat.png" alt="chat" class="img-teacher-card">
                                                                <span class="span-item-card">@course.Comments.Count</span>
                                                            </div>
                                                            <div>
                                                                <img src="icons/student-2.png" alt="student" class="img-teacher-card">
                                                                <span class="span-item-card">@course.UserCourse.Count</span>
                                                            </div>
                                                        </div>
                                                        <div class="container-time-payment-card">
                                                            <div>
                                                                <img src="icons/clock.png" alt="clock" class="img-teacher-card">
                                                                <span class="time-p-card">@course.TotalTime</span>
                                                            </div>
                                                            <div>
                                                                @if (course.Price > 0)
                                                                {
                                                                    <span class="payment-card">@course.Price.ToMoney()</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="payment-card">رایگان</span>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    @if (Model.Course.PageCount > 1)
                                    {
                                        <div class="col-12" id="pagination">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination">
                                                    <li class="page-item @(Model.Course.CurrentPage<2?"disabled":"")">
                                                        <a class="page-link" href="Courses?pageId=@(Model.Course.CurrentPage-1)" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    @for (var i = 1; i <= Model.Course.PageCount; i++)
                                                    {
                                                        <li class="page-item"><a class="page-link" href="Courses?pageId=@i">@i</a></li>

                                                    }

                                                    <li class="page-item @(Model.Course.CurrentPage>=Model.Course.PageCount?"disabled":"")">
                                                        <a class="page-link" href="Courses?pageId=@(Model.Course.CurrentPage+1)" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    }
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </main>
        </form>
    </div>
</div>
@section Scripts
{
    <script>
        function Search() {
            $("#submitSearch").submit();
        }
    </script>
}
