@page "{id}"
@inject IAuthHelper _authHelper;
@using _0_FrameWork.Application
@model WebHost.Pages.ForumModel
@{
    ViewData["Title"] = "پرسش و پاسخ";
}

<div class="container py-5">
    <div class="col-lg-4 mt-5 mt-lg-0 pull-left">
        <div class="mb-5 d-lg-none d-sm-block d-md-block">
            <form method="get">
                <div class="input-group">
                    <input type="text" name="filter" class="form-control form-control-lg" placeholder="سوالت را جستجو کن">
                    <div class="input-group-append">
                        <button class="input-group-text bg-transparent text-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div Class="row">

        <div class="col-lg-8 col-sm-12 col-xs-12">
            <a class="btn btn-primary btn-block col-lg-8 col-sm-12 col-xs-12 m-auto" asp-page="Forum" asp-page-handler="Question" asp-route-id="@ViewData["CourseId"]">سوال خود را بپرس</a>

            @foreach (var item in Model.Pagination.Questions)
            {
                <section id="body-container" class="container">
                    <div class="condition-course condition-course-mb">
                        <div id="container-profile-teacher">
                            <div id="container-img-name-job-teacher">
                                <img src="~/img/DefaultImg/boy-qustion.jpg" class="img-responsive d-none d-md-block d-lg-block" alt="Photo Teacher" id="img-info-teacher">
                                <div id="container-name-job-teacher">
                                    <h2 id="name-info-teacher">
                                        <a asp-page="Forum" asp-page-handler="ShowQuestion" asp-route-id="@item.Id">@item.Title</a>
                                    </h2>
                                    <ul class="row ask-question">
                                        <li class="p-1">
                                            <span>
                                                <a asp-page="SingleCourse" asp-route-id="@item.CourseSlug">@item.CourseName</a>
                                            </span>
                                        </li>
                                        <li class="discussion"></li>
                                        <li class="p-1">
                                            <span>@item.NumberOfVisit بازدید </span>
                                        </li>
                                        <li class="discussion"></li>
                                        <li class="p-1">
                                            <span>@item.AnswerCount تا پاسخ </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }

            @if (Model.Pagination.PageCount > 1)
            {
                <div class="col-12 mt-lg-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg justify-content-center mb-0">
                            <li class="page-item @(Model.Pagination.CurrentPage < 2 ? "disabled" : "")">
                                <a class="page-link" asp-page="Forum" asp-route-pageId=@(Model.Pagination.CurrentPage - 1) aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">قبلی</span>
                                </a>
                            </li>

                            @for (var i = 1; i <= Model.Pagination.PageCount; i++)
                            {
                                <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">

                                    <a class="page-link" asp-page="Forum" asp-route-pageId="@i">@i</a>

                                </li>
                            }

                            <li class="page-item @(Model.Pagination.CurrentPage >= Model.Pagination.PageCount ? "disabled" : "")">
                                <a class="page-link" asp-page="Forum" asp-route-pageId=@(Model.Pagination.CurrentPage + 1) aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">بعدی</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
            <!-- Search Form -->
            <div class="mb-5 d-lg-block d-none">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="filter" class="form-control form-control-lg" placeholder="سوالت را جستجو کن">
                        <div class="input-group-append">
                            <button class="input-group-text bg-transparent text-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <partial name="Shared/PartialViews/_LatestQuestion" model="Model.LatestQuestion" />
        </div>
    </div>
</div>