@page "{id}"
@inject IAuthHelper _authHelper;
@using _0_FrameWork.Application
@model WebHost.Pages.ForumModel
@{
    ViewData["Title"] = "پرسش و پاسخ";
}

<div class="container py-5">
    <div Class="row">

        <div class="col-lg-8 col-sm-12 col-xs-12">
            <a class="btn btn-primary btn-block" asp-page="Forum" asp-page-handler="Question" asp-route-id="@ViewData["CourseId"]">پرسش سوال</a>

            @foreach (var item in Model.Pagination.Questions)
            {
                <section id="body-container" class="container">
                    <div class="condition-course condition-course-mb">
                        <div id="container-profile-teacher">
                            <div id="container-img-name-job-teacher">
                                <img src="~/img/DefaultImg/photo_2021-06-25_03-08-16.jpg" class="img-responsive d-none d-md-block d-lg-block" alt="Photo Teacher" id="img-info-teacher">
                                <div id="container-name-job-teacher">
                                    <h2 id="name-info-teacher">
                                        <a asp-page="Forum" asp-page-handler="ShowQuestion" asp-route-id="@item.Id">@item.Title</a>
                                    </h2>
                                    <ul class="row ask-question">
                                        <li class="p-1">
                                            <span>
                                                <a asp-page="SingleCourse" asp-route-id="@item.CourseSlug">@item.CourseName</a>
                                            </span>
                                        </li>
                                        <li class="discussion"></li>
                                        <li class="p-1">
                                            <span>@item.NumberOfVisit بازدید </span>
                                        </li>
                                        <li class="discussion"></li>
                                        <li class="p-1">
                                            <span>@item.AnswerCount تا پاسخ </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }

            @if (Model.Pagination.PageCount > 1)
            {
                <div class="col-12 mt-lg-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg justify-content-center mb-0">
                            <li class="page-item @(Model.Pagination.CurrentPage < 2 ? "disabled" : "")">
                                <a class="page-link" asp-page="Forum" asp-route-pageId=@(Model.Pagination.CurrentPage - 1) aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">قبلی</span>
                                </a>
                            </li>

                            @for (var i = 1; i <= Model.Pagination.PageCount; i++)
                            {
                                <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">

                                    <a class="page-link" asp-page="Forum" asp-route-pageId="@i">@i</a>

                                </li>
                            }

                            <li class="page-item @(Model.Pagination.CurrentPage >= Model.Pagination.PageCount ? "disabled" : "")">
                                <a class="page-link" asp-page="Forum" asp-route-pageId=@(Model.Pagination.CurrentPage + 1) aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">بعدی</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
            <!-- Search Form -->
            <div class="mb-5">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Keyword">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Category List -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Web Design</a>
                        <span class="badge badge-primary badge-pill">150</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Web Development</a>
                        <span class="badge badge-primary badge-pill">131</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Online Marketing</a>
                        <span class="badge badge-primary badge-pill">78</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Keyword Research</a>
                        <span class="badge badge-primary badge-pill">56</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Email Marketing</a>
                        <span class="badge badge-primary badge-pill">98</span>
                    </li>
                </ul>
            </div>

            <!-- Recent Post -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h3>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                    <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                    <div class="pl-3">
                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                        <small>Jan 01, 2050</small>
                    </div>
                </a>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                    <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                    <div class="pl-3">
                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                        <small>Jan 01, 2050</small>
                    </div>
                </a>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                    <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                    <div class="pl-3">
                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                        <small>Jan 01, 2050</small>
                    </div>
                </a>
            </div>

            <!-- Tag Cloud -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                <div class="d-flex flex-wrap m-n1">
                    <a href="" class="btn btn-outline-primary m-1">Design</a>
                    <a href="" class="btn btn-outline-primary m-1">Development</a>
                    <a href="" class="btn btn-outline-primary m-1">Marketing</a>
                    <a href="" class="btn btn-outline-primary m-1">SEO</a>
                    <a href="" class="btn btn-outline-primary m-1">Writing</a>
                    <a href="" class="btn btn-outline-primary m-1">Consulting</a>
                </div>
            </div>
        </div>
    </div>
</div>