@page
@using CommentManagement.Domain.SliderAgg
@model IndexModel

@{ ViewData["Title"] = "لرن هاب ابتکاری برای یادگیری";
    ViewData["keyWords"] = "لرن هاب ابتکاری برای یادگیری";
    ViewData["CanonicalAddress"] = "https://ihsasdevelopment.ir/";
    ViewData["Url"] = "https://ihsasdevelopment.ir";
    ViewData["author"] = "Qudrat Ihsas";
    ViewData["owner"] = "Qudrat Ihsas";
    ViewData["metaDescription"] = " مجموعۀ لرن با استادان متخصص و مجرب با ارابه خدمات رایگان در خدمت تمام محصلین و دانش آموزان عزیز قرار دارد ";
    ViewData["Type"] = "مجموعه آموزشی"; }

<!-- Carousel Start -->
@*<div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                @foreach (var slid in Model.Sliders)
                {
                    ViewData["image"] = slid.Picture;
    <div class="men-height carousel-item @(slid == Model.Sliders.First() ? "active" : "")">
        <img class="position-relative w-100 men-heightCover" src="~/FileUploader/@slid.Picture" title="@slid.PictureTitle" alt="@slid.PictureAlt">
        <div class="carousel-caption d-flex align-items-center justify-content-center">
            <div class="p-5 set-WithHeight">
                <h5 class="text-white text-uppercase mb-md-3">@slid.ShortTitle</h5>

                <h1 class="display-3 text-white mb-md-4">@slid.Title</h1>

                <a href="@slid.ButtonLink" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">@slid.ButtonText</a>
            </div>
        </div>
    </div>      }

            </div>
        </div>
    </div>*@
<!-- Carousel End -->
<!-- ======= Hero Section ======= -->
<section id="hero-section" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>لرن هاب ابتکاری برای یادگیری</h1>
                <br/>
                <h2>ما تیمی از برنامه نویسان با استعداد هستیم که برای شما خدمات ارایه میدهیم</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="img/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-right mb-4">
                    <h5 class="text-primary text-uppercase mb-3">درباره ما</h5>
                    <h1>روش ابتکاری برای یادگیری</h1>
                </div>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی</p>
                <a asp-page="AboutUs" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">جزئیات بیشتر</a>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("CourseGroup")
<cache expires-after="TimeSpan.FromHours(1)">

</cache>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3">دوره ها</h5>
            <h1>دوره های محبوب ما</h1>
        </div>
        @await Component.InvokeAsync("PopularCourse")
        <cache expires-after="TimeSpan.FromHours(1)">

        </cache>
    </div>
</div>


<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="text-primary text-uppercase mb-3">چی دورۀ را میخواهی یاد بگیری؟</h5>
                    <h1 class="text-white">30% تخفیف برای دانشجویان جدید</h1>
                </div>
                <p class="text-white">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>لورم ایپسوم متن ساختگی با تولید سادگی.</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">همین حالا شروع کن</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="نام شما" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 p-4" placeholder="ایمیل شما" required="required" />
                            </div>
                            <div class="form-group">
                                <select class="custom-select border-0 px-4" style="height: 47px;">
                                    <option selected>دوره خود را انتخاب کنید</option>
                                    <option value="1">Asp.NetCore</option>
                                    <option value="2">PHP</option>
                                    <option value="3">SEO</option>
                                </select>
                            </div>
                            <div>
                                <button disabled="" class="btn btn-dark btn-block border-0 py-3" type="submit">ثبت نام</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->
<cache expires-after="TimeSpan.FromHours(1)">

</cache>
@await Component.InvokeAsync("Articles")