@using _0_FrameWork.Application
@using ShiftCoderQuery.Contract.Forum.Question
@model ShiftCoderQuery.Contract.Forum.Question.QuestionQueryModel
@inject IForumQuery _forumQuery
@{
    ViewData["Title"] = Model.Title;
    Layout = "Shared/_Layout";
}

<div class="container py-5">
    <div Class="row">
        <div class="col-lg-8 col-sm-12 col-xs-12">
            <section id="body-container" class="container">
                <div class="condition-course condition-course-mb">
                    <div class="img-responsive">
                        <p class="paragraph-support">@Model.CreationDate.TimeAgo()</p>

                        <p class="text-earth">
                            @Model.Title:
                        </p>
                        <br />
                        @Html.Raw(Model.Body)
                    </div>
                    <br />
                    <div id="container-img-name-job-teacher">
                        <img src="~/img/DefaultImg/boy-qustion.jpg" alt="@Model.Name" class="forum-cover-photo" id="img-info-teacher">
                        <div id="container-name-job-teacher">
                            <h4 id="name-info-teacher">
                                <a class="text-info">@Model.Name</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </section>
            <!-----lg display-->
            <section class="container row ">
                @foreach (var answer in Model.Pagination.Answers)
                {
                    <br class="d-lg-block d-none" />
                    <br class="d-lg-block d-none" />
                    <div id="container-img-name-job-teacher " class="col-md-2 d-lg-block d-none mt-lg-5">
                        <img src="~/img/DefaultImg/girl-question.jpg" alt="@Model.Name" class="img-responsive" id="img-info-teacher">
                        <h4 id="name-info-teacher">
                            <a class="text-success">@Model.Name</a>
                        </h4>
                    </div>
                    <div class="condition-course condition-course-mb col-md-10 d-lg-block d-none">
                        <div>
                            <p class="paragraph-support">@answer.CreationDate.TimeAgo()</p>
                            @Html.Raw(answer.Body)
                        </div>
                    </div>
                }
            </section>
            <!----md and sm display-->
            <section class="container row d-lg-none d-sm-block d-md-block">
                @foreach (var answer in Model.Pagination.Answers)
                {
                    <br />
                    <br />

                    <div class="condition-course condition-course-mb col-md-12">
                        <p class="paragraph-support">@answer.CreationDate.TimeAgo()</p>
                        <div id="container-img-name-job-teacher " class="col-md-2 mt-lg-3">
                            <img src="~/img/DefaultImg/girl-question.jpg" alt="@Model.Name" class="img-responsive" id="img-info-teacher">
                            <h4 id="name-info-teacher">
                                <a class="text-success">@Model.Name</a>
                            </h4>
                        </div>

                        <div class="col-md-10">
                          
                            @Html.Raw(answer.Body)
                        </div>
                    </div>
                }
            </section>
            <!----md and sm display-->
            
            <!----pagination-->
            @if (Model.Pagination.PageCount > 1)
            {
                <div class="col-12 mt-lg-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg justify-content-center mb-0">
                            <li class="page-item @(Model.Pagination.CurrentPage < 2 ? "disabled" : "")">
                                <a class="page-link" asp-page="Forum" asp-page-handler="ShowQuestion" asp-route-pageId=@(Model.Pagination.CurrentPage - 1) aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">قبلی</span>
                                </a>
                            </li>
                            @for (var i = 1; i <= Model.Pagination.PageCount; i++)
                            {
                                <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">
                                    <a class="page-link" asp-page="Forum" asp-page-handler="ShowQuestion" asp-route-pageId="@i">@i</a>

                                </li>
                            }

                            <li class="page-item @(Model.Pagination.CurrentPage >= Model.Pagination.PageCount ? "disabled" : "")">
                                <a class="page-link" asp-page="Forum" asp-page-handler="ShowQuestion" asp-route-pageId=@(Model.Pagination.CurrentPage + 1) aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">بعدی</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }

            <br />
            <div class="contact-form bg-secondary rounded p-5 mt-lg-5">
                <div id="success" class="text-center text-primary">
                    <h3>پاسخ شما چیست؟</h3>
                </div>
                <form method="post" asp-page="Forum" asp-page-handler="ShowAnswer">
                    <input type="hidden" name="QuestionId" value="@Model.Id" />
                    <div class="form-group">
                        <label for="name">نام *</label>
                        <input name="name" type="text" class="form-control border-0" id="name" required oninvalid="this.setCustomValidity('نام خود را کنید ویا در سایت لاگین  نماید.')"
                               oninput="setCustomValidity('')">
                    </div>

                    <div class="form-group">
                        <label for="message">پاسخ خود را بنویسید</label>
                        <textarea name="Body" id="editor" cols="30" placeholder="متن پاسخ خود را بنویسید" class="form-control border-0"></textarea>
                    </div>
                    <div class="form-group mb-0 text-left">
                        <input type="submit" value="ثبت پاسخ شما" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                    </div>
                </form>
            </div>

        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
            <partial name="Shared/PartialViews/_LatestQuestion" model="_forumQuery.LatestQuestion(Model.CourseId)"/>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/translations/fa.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'),
                {
                    language: 'fa',
                    ckfinder: { uploadUrl: '/index/?handler=UploadImage' },

                    toolbar: {
                        items: [
                            'heading', '|',
                            'fontsize', '|',
                            'alignment', '|',
                            'fontColor', 'fontBackgroundColor', '|',
                            'bold', 'italic', 'strikethrough', 'underline', 'subscript', 'superscript', '|',
                            'outdent', 'indent', '|',
                            'bulletedList', 'numberedList', 'todoList', '|',
                            'code', 'codeBlock', '|',
                            'insertTable', '|',
                            'uploadImage', 'blockQuote', '|',
                            'undo', 'redo'
                        ],
                        shouldNotGroupWhenFull: true

                    }
                })
            .catch(error => {
                console.error(error);
            });
    </script>
}