@using _0_FrameWork.Application
@model ShiftCoderQuery.Contract.Forum.Question.QuestionQueryModel
@{
    ViewData["Title"] = "موضوع سوال";
    Layout = "Shared/_Layout";
}

<div class="container py-5">
    <div Class="row">
        <div class="col-lg-8 col-sm-12 col-xs-12">
            <section id="body-container" class="container">
                <div class="condition-course condition-course-mb">
                    <div class="img-responsive">
                        <p class="paragraph-support">@Model.CreationDate.TimeAgo()</p>

                        <p class="text-earth">
                            @Model.Title:
                        </p>
                        <br />
                        @Html.Raw(Model.Body)
                    </div>
                    <br />
                    <div id="container-img-name-job-teacher">
                        <img src="~/img/DefaultImg/photo_2021-06-25_03-08-16.jpg" alt="@Model.Name" class="forum-cover-photo" id="img-info-teacher">
                        <div id="container-name-job-teacher">
                            <h4 id="name-info-teacher">
                                <a>@Model.Name</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </section>
            <!-----lg display-->
            <section class="container row ">
                @foreach (var answer in Model.Pagination.Answers)
                {
                    <br class="d-lg-block d-none" />
                    <br class="d-lg-block d-none" />
                    <div id="container-img-name-job-teacher " class="col-md-2 d-lg-block d-none mt-lg-5">
                        <img src="~/img/DefaultImg/photo_2021-06-24_00-36-30.jpg" alt="@Model.Name" class="img-responsive" id="img-info-teacher">
                        <p class="mt-2">@answer.Name</p>
                    </div>
                    <div class="condition-course condition-course-mb col-md-10 d-lg-block d-none">
                        <div>
                            <p class="paragraph-support">@answer.CreationDate.TimeAgo()</p>
                            @Html.Raw(answer.Body)
                        </div>
                    </div>
                }
            </section>
            <!----md and sm display-->
            <section class="container row d-lg-none d-sm-block d-md-block">
                @foreach (var answer in Model.Pagination.Answers)
                {
                    <br />
                    <br />

                    <div class="condition-course condition-course-mb col-md-12">

                        <div id="container-img-name-job-teacher " class="col-md-2 mt-lg-3">
                            <img src="~/img/user.jpg" alt="@Model.Name" class="img-responsive" id="img-info-teacher">
                            <p class="mt-2">@answer.Name</p>
                        </div>

                        <div class="col-md-10">
                            <p class="paragraph-support">@answer.CreationDate.TimeAgo()</p>
                            @Html.Raw(answer.Body)
                        </div>
                    </div>
                }
            </section>
            <!----md and sm display-->

            @if (Model.Pagination.PageCount > 1)
            {
                <div class="col-12 mt-lg-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg justify-content-center mb-0">
                            <li class="page-item @(Model.Pagination.CurrentPage < 2 ? "disabled" : "")">
                                <a class="page-link" asp-page="Forum" asp-page-handler="ShowQuestion" asp-route-pageId=@(Model.Pagination.CurrentPage - 1) aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">قبلی</span>
                                </a>
                            </li>
                            @for (var i = 1; i <= Model.Pagination.PageCount; i++)
                            {
                                <li class="page-item @(i == Model.Pagination.CurrentPage ? "active" : "")">
                                    <a class="page-link" asp-page="Forum" asp-page-handler="ShowQuestion" asp-route-pageId="@i">@i</a>

                                </li>
                            }

                            <li class="page-item @(Model.Pagination.CurrentPage >= Model.Pagination.PageCount ? "disabled" : "")">
                                <a class="page-link" asp-page="Forum" asp-page-handler="ShowQuestion" asp-route-pageId=@(Model.Pagination.CurrentPage + 1) aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">بعدی</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }

            <br />
            <div class="contact-form bg-secondary rounded p-5 mt-lg-5">
                <div id="success" class="text-center text-primary">
                    <h3>افزدون پاسخ جدید</h3>
                </div>
                <form method="post" asp-page="Forum" asp-page-handler="ShowAnswer">
                    <input type="hidden" name="QuestionId" value="@Model.Id" />
                    <div class="form-group">
                        <label for="name">نام *</label>
                        <input name="name" type="text" class="form-control border-0" id="name" required oninvalid="this.setCustomValidity('نام خود را کنید ویا در سایت لاگین  نماید.')"
                               oninput="setCustomValidity('')">
                    </div>

                    <div class="form-group">
                        <label for="message">پاسخ خود را بنویسید</label>
                        <textarea name="Body" id="editor" cols="30" class="form-control border-0"></textarea>
                    </div>
                    <div class="form-group mb-0 text-left">
                        <input type="submit" value="ثبت پاسخ شما" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                    </div>
                </form>
            </div>

        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
            <!-- Search Form -->
            <div class="mb-5">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Keyword">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Category List -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Web Design</a>
                        <span class="badge badge-primary badge-pill">150</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Web Development</a>
                        <span class="badge badge-primary badge-pill">131</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Online Marketing</a>
                        <span class="badge badge-primary badge-pill">78</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Keyword Research</a>
                        <span class="badge badge-primary badge-pill">56</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Email Marketing</a>
                        <span class="badge badge-primary badge-pill">98</span>
                    </li>
                </ul>
            </div>

            <!-- Recent Post -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h3>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                    <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                    <div class="pl-3">
                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                        <small>Jan 01, 2050</small>
                    </div>
                </a>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                    <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                    <div class="pl-3">
                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                        <small>Jan 01, 2050</small>
                    </div>
                </a>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                    <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                    <div class="pl-3">
                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                        <small>Jan 01, 2050</small>
                    </div>
                </a>
            </div>

            <!-- Tag Cloud -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                <div class="d-flex flex-wrap m-n1">
                    <a href="" class="btn btn-outline-primary m-1">Design</a>
                    <a href="" class="btn btn-outline-primary m-1">Development</a>
                    <a href="" class="btn btn-outline-primary m-1">Marketing</a>
                    <a href="" class="btn btn-outline-primary m-1">SEO</a>
                    <a href="" class="btn btn-outline-primary m-1">Writing</a>
                    <a href="" class="btn btn-outline-primary m-1">Consulting</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/translations/fa.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'),
                {
                    language: 'fa',
                    ckfinder: { uploadUrl: '/index/?handler=UploadImage' },

                    toolbar: {
                        items: [
                            'heading', '|',
                            'fontsize', '|',
                            'alignment', '|',
                            'fontColor', 'fontBackgroundColor', '|',
                            'bold', 'italic', 'strikethrough', 'underline', 'subscript', 'superscript', '|',
                            'outdent', 'indent', '|',
                            'bulletedList', 'numberedList', 'todoList', '|',
                            'code', 'codeBlock', '|',
                            'insertTable', '|',
                            'uploadImage', 'blockQuote', '|',
                            'undo', 'redo'
                        ],
                        shouldNotGroupWhenFull: true

                    }
                })
            .catch(error => {
                console.error(error);
            });
    </script>
}