@page "{id}"
@using _0_Framework.Application
@using ShiftCoderQuery.Contract.Course
@using Shop.Management.Application.Contract.CourseEpisode
@model WebHost.Pages.SingleCourseModel
@inject ICourseQuery _course;
@{
    ViewData["Title"] = Model.Course.Name;

    var userInCourse = false;
    if (User.Identity.IsAuthenticated)
        userInCourse = _course.UserInCourse(User.Identity.Name, Model.Course.Id);


}


<main id="main-container" class="container">
    <div class="row">
        <header>
            <div>
                <h1 id="head-title">@Model.Course.Name</h1>
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="Index">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-page="Courses">آموزش ها</a></li>
                        <li class="breadcrumb-item"><a asp-page="Courses" asp-route-groupId="@Model.Course.CourseGroupId">@Model.Course.CourseGroup</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Course.Name</li>
                    </ol>
                </nav>
            </div>
        </header>
        <section id="body-container" class="container">
            <div class="row">
                <aside id="aside-container" class="col-12 col-lg-4">
                    <div class="condition-course">
                        <div class="container-info-aside price-course">
                            <h3 id="text-price">قیمت دوره</h3>
                            <h3 id="value-price"><span>@((Model.Course.Price==0)?"رایگان":$"{Model.Course.Price.ToMoney()} تومان" )</span></h3>
                        </div>
                        <div class="line-aside"></div>
                        <div class="container-info-aside">
                            <div class="container-title-line-aside">
                                <i class="fas fa-user-tie icon-title-aside"></i>
                                <p class="paragraph-info-aside">مدرس :</p>
                            </div>
                            <div class="container-title-line-aside">
                                <h2 class="value-info-aside">@Model.Course.TeacherName</h2>
                            </div>
                        </div>
                        <div class="container-info-aside">
                            <div class="container-title-line-aside">
                                <i class="fas fa-user-graduate icon-title-aside"></i>
                                <p class="paragraph-info-aside">تعداد دانشجویان :</p>
                            </div>
                            <div class="container-title-line-aside">
                                <h5 class="value-info-aside">@Model.Course.UserCourse.Count نفر</h5>
                            </div>
                        </div>
                        <div class="container-info-aside">
                            <div class="container-title-line-aside">
                                <i class="fas fa-play-circle icon-title-aside"></i>
                                <p class="paragraph-info-aside">تعداد قسمت ها :</p>
                            </div>
                            <div class="container-title-line-aside">
                                <h5 class="value-info-aside">@Model.Course.EpisodeCount قسمت</h5>
                            </div>
                        </div>
                        <div class="container-info-aside">
                            <div class="container-title-line-aside">
                                <i class="fas fa-clock icon-title-aside"></i>
                                <p class="paragraph-info-aside">مدت زمان دوره :</p>
                            </div>
                            <div class="container-title-line-aside">
                                <h5 class="value-info-aside">
                                    @{
                                        var time = new TimeSpan(Model.Course.EpisodeCourse.Sum(t => t.Time.Ticks));
                                    }
                                    @time
                                </h5>
                            </div>
                        </div>

                        @if (Model.Course.UpdateDate != "")
                        {<div class="container-info-aside">
                                <div class="container-title-line-aside">
                                    <i class="fas fa-calendar-check icon-title-aside"></i>
                                    <p class="paragraph-info-aside">آخرین بروزرسانی :</p>
                                </div>

                                <div class="container-title-line-aside">
                                    <h5 class="value-info-aside">@Model.Course.UpdateDate</h5>
                                </div>
                            </div>
                        }

                        <div class="container-info-aside">
                            <div class="container-title-line-aside">
                                <i class="fas fa-layer-group icon-title-aside"></i>
                                <p class="paragraph-info-aside">سطح دوره آموزشی :</p>
                            </div>
                            <div class="container-title-line-aside">
                                <h5 class="value-info-aside">@Model.Course.CourseLevel</h5>
                            </div>
                        </div>
                        <div class="container-info-aside">
                            <div class="container-title-line-aside">
                                <i class="fas fa-question-circle icon-title-aside"></i>
                                <p class="paragraph-info-aside">وضعیت دوره :</p>
                            </div>
                            <div class="container-title-line-aside">
                                <h5 class="value-info-aside state-course @((Model.Course.CourseStatus=="در حال برگذاری")?"":"text-primary")">@Model.Course.CourseStatus</h5>
                            </div>
                        </div>
                        <div id="container-register-course">
                            @if (Model.Course.Price > 0 && !userInCourse)
                            {
                                <a asp-page="BuyCourse" asp-route-id="@Model.Course.Id" id="btn-register-course">
                                    <i class="fas fa-shopping-basket icon-register"></i>
                                    <span id="span-text-register">شرکت در دوره @Model.Course.Price.ToMoney() تومان</span>
                                </a>
                            }

                            else if (userInCourse)
                            {
                                <a id="btn-register-course">
                                    <i class="fas fa-shopping-basket icon-register"></i>
                                    <span id="span-text-register">شما قبلا این دوره را خریده اید.</span>
                                </a>
                            }

                            else
                            {
                                <a asp-page="BuyCourse" asp-route-id="@Model.Course.Id" id="btn-register-course">
                                    <i class="fas fa-shopping-basket icon-register"></i>
                                    <span id="span-text-register">شرکت رایگان در دوره.</span>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="condition-course condition-course-mb">
                        <div id="container-view-comment-number">
                            <div id="view-aside">
                                <i class="far fa-eye icon-view-comment-number"></i>
                                <p class="paragraph-view-comment-number">@Model.Course.VisitCount بازدید</p>
                            </div>
                            <div id="line-y-aside"></div>
                            <div id="comment-aside">
                                <i class="fa fa-comments icon-view-comment-number"></i>
                                <p class="paragraph-view-comment-number">@Model.Course.CommentList.Count کامنت</p>
                            </div>
                        </div>
                        <div id="container-share-media">
                            <p id="text-share-media">اشتراک گذاری لینک</p>
                            <div id="container-icons-share-social">
                                <div class="container-icon-share-social">
                                    <a href="#"><i class="fab fa-whatsapp icon-share-social icon-whatsapp-share"></i></a>
                                </div>
                                <div class="container-icon-share-social">
                                    <a href="#"><i class="fab fa-twitter icon-share-social"></i></a>
                                </div>
                                <div class="container-icon-share-social">
                                    <a href="#"><i class="fab fa-telegram-plane icon-share-social icon-telegram-share"></i></a>
                                </div>
                                <div class="container-icon-share-social">
                                    <a href="#"><i class="fab fa-linkedin-in icon-share-social"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="condition-course condition-course-mb">
                        <div id="container-profile-teacher">
                            <div id="container-img-name-job-teacher">
                                <img src="~/FileUploader/@Model.Course.TeacherAvatar" alt="@Model.Course.TeacherName" title="@Model.Course.TeacherName" id="img-info-teacher">
                                <div id="container-name-job-teacher">
                                    <h2 id="name-info-teacher">@Model.Course.TeacherName</h2>
                                    <h4 id="job-info-teacher">@Model.Course.TeacherSkills</h4>
                                </div>
                            </div>
                            <div id="container-profile-job">
                                <a id="profile-info-teacher">پروفایل</a>
                                <a id="cv-info-teacher">رزومه</a>
                            </div>
                        </div>
                        <div class="container-info-teacher">
                            <div class="container-line-info-line">
                                <div class="line-info-aside"></div>
                                <p class="title-info-teacher">درباره مدرس</p>
                            </div>
                            <p class="paragraph-info-teacher">
                                @Model.Course.TeacherBio
                                <div class="container-info-teacher">
                                    <div class="container-line-info-line margin-container-line-info-line">
                                        <div class="line-info-aside"></div>
                                        <p class="title-info-teacher">دوره های مدرس</p>
                                    </div>
                                    <ul id="ul-courses-teacher">
                                        @foreach (var item in Model.Course.CourseTeacher)
                                        {
                                            <li class="listitem-courses-teacher">
                                                <a asp-page="SingleCourse" asp-route-id="@item.Slug" class="anchor-courses-teacher">@item.Name</a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                        </div>
                        <div class="condition-course condition-course-mb">
                            <div>
                                <h3 id="title-support">
                                    <i class="fas fa-user-headset icon-title-support"></i>
                                    پشتیبانی دوره های شیفت کدر
                                </h3>
                                <p class="paragraph-support">شیفت کدر در طول شبانه روز آماده پاسخگویی به سوالات و مشکلات شما می باشد.</p>
                                <p class="paragraph-support">
                                    <i class="fas fa-mobile-alt icon-support"></i>
                                    تماس با <strong class="bold-text-support">09212885357</strong>
                                </p>
                                <p class="paragraph-support">
                                    <i class="fab fa-telegram-plane icon-support"></i>
                                    آی دی تلگرام <strong class="bold-text-support">shiftcoder_support</strong>
                                </p>
                                <p class="paragraph-support">
                                    <i class="fab fa-instagram icon-support"></i>
                                    دایرکت اینستاگرام <strong class="bold-text-support">shiftcoder</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </aside>

                <section id="content-container" class="col-12 col-lg-8">
                    <div id="container-img-title">


                        @if (ViewData["Episode"] != null)
                        {
                            var episode = ViewData["Episode"] as CourseEpisodeViewModel;
                            <video id="player" playsinline controls class="video-title-content">
                                <source src="@ViewData["FilePath"]" type="video/mp4" class="video-title-content">
                            </video>
                        }
                        else
                        {
                            <video id="player" playsinline controls poster="~/FileUploader/@Model.Course.PosterImg" class="video-title-content">
                                <source src="~/FileUploader/@Model.Course.File" type="video/mp4" class="video-title-content">
                            </video>
                        }

                    </div>
                    <div id="text-content">
                        @Html.Raw(Model.Course.Description)
                        @if (Model.Course.PrerequisiteCourse.Count != 0)
                        {
                            <div class="container-prerequisites">
                                <h5>پیش نیاز های این دوره</h5>
                                <ul>
                                    @foreach (var course in Model.Course.PrerequisiteCourse)
                                    {
                                        <li class="li-checked">@course.Title.</li>

                                    }
                                </ul>
                            </div>
                        }
                        @if (Model.Course.SuitableCourse.Count != 0)
                        {
                            <div class="container-prerequisites mt-5">
                                <h5>این دوره مناسب چه افرادی است ؟</h5>
                                <ul>
                                    @foreach (var item in Model.Course.SuitableCourse)
                                    {
                                        <li class="li-checked">@item.Title.</li>
                                    }
                                </ul>
                            </div>
                        }

                        @if (Model.Course.AfterCourse.Count != 0)
                        {
                            <div class="container-prerequisites mt-5">
                                <h5>در پایان این دوره چه کار هایی میتوانیم انجام دهیم ؟</h5>
                                <ul>

                                    @foreach (var course in Model.Course.AfterCourse)
                                    {
                                        <li class="li-checked">@course.Title.</li>
                                    }
                                </ul>
                            </div>
                        }


                        @switch (Model.Course.CourseLevel)
                        {
                            case "مقدماتی":
                                <div class="accordion" id="accordionExample">

                                    <partial name="Shared/PartialViews/_PlayAndDownloadEpisodes" model="this.Model"/>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header mb-0" id="headingTwo">
                                            <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                سر فصل های @Model.Course.Name - بخش متوسط
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p style="margin: 1rem 0 0 0; font-style: italic;">به زودی ...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header mb-0" id="headingThree">
                                            <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                سر فصل های @Model.Course.Name - بخش پیشرفته
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p style="margin: 1rem 0 0 0; font-style: italic;">به زودی ...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                break;

                            case "پیشرفته":

                                <div class="accordion" id="accordionExample">
                                    <partial name="Shared/PartialViews/_PlayAndDownloadEpisodes" model="this.Model"/>

                                </div>

                                break;

                            case "متوسط":

                                <div class="accordion" id="accordionExample">
                                    <partial name="Shared/PartialViews/_PlayAndDownloadEpisodes" model="this.Model"/>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header mb-0" id="headingThree">
                                            <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                سر فصل های @Model.Course.Name - بخش پیشرفته
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p style="margin: 1rem 0 0 0; font-style: italic;">به زودی ...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                break;

                            default:
                                <div class="accordion" id="accordionExample">
                                    <partial name="Shared/PartialViews/_PlayAndDownloadEpisodes" model="this.Model"/>
                                </div>
                                break;
                        }


                    </div>
                </section>
                <aside class="col-12 col-lg-4"></aside>
                <section id="comment-container" class="col-12 col-lg-8">
                    <div id="header-comment">
                        <h5>
                            <i class="fas fa-comments-alt icon-comment"></i>
                            نظرات دوره
                            <small id="number-all-comment">(@Model.Course.CommentList.Count)</small>
                        </h5>
                    </div>
                    <form method="post" id="formPost">
                        <div id="container-send-comment">
                            <p id="text-comment-write">دیدگاه خود را بنویسید ...</p>
                            <div id="inputs-comment" class="container">

                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <div class="row">
                                        <div class="col-12 col-md-6 container-email-name">
                                            <label for="name-input" class="label-email-name-text">نام *</label>
                                            <input type="text" id="name-input" name="name" class="col-12 input-name-email"
                                                   required oninvalid="this.setCustomValidity('وارد کردن نام الزامی میباشد!')"
                                                   oninput="setCustomValidity('')">
                                        </div>
                                        <div class="col-12 col-md-6 container-email-name">
                                            <label for="email-input" class="label-email-name-text">ایمیل *</label>
                                            <input type="email" id="email-input" name="email" class="col-12 input-name-email"
                                                   required oninvalid="this.setCustomValidity('لطفا ایمیل خود را وارد کنید، ایمیلی شما در جای منتشر نخواهد شد')"
                                                   oninput="setCustomValidity('')">
                                        </div>
                                        <div class="col-12 container-email-name">
                                            <label for="text-comment" class="label-email-name-text">دیدگاه شما *</label>
                                            <textarea id="text-comment" name="message" class="col-12 textarae-comment input-name-email"
                                                      required oninvalid="this.setCustomValidity('دیدگاه خود را بنویسید.')"
                                                      oninput="setCustomValidity('')"></textarea>
                                        </div>
                                        <input type="hidden" name="ownerRecordId" value="@Model.Course.Id" />
                                        <input type="hidden" name="productSlug" value="@Model.Course.Slug" />
                                        <input type="hidden" name="parentId" id="commentParenId" value="" />

                                        <input type="submit" id="submit-comment" value="ارسال">
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-12 container-email-name">
                                            <label for="text-comment" class="label-email-name-text">دیدگاه شما *</label>
                                            <textarea id="text-comment" name="message" class="col-12 textarae-comment input-name-email"
                                                      required oninvalid="this.setCustomValidity('دیدگاه خود را بنویسید.')"
                                                      oninput="setCustomValidity('')"></textarea>
                                        </div>
                                        <input type="hidden" name="ownerRecordId" value="@Model.Course.Id" />
                                        <input type="hidden" name="productSlug" value="@Model.Course.Slug" />
                                        <input type="hidden" name="parentId" id="commentParenId" value="" />

                                        <input type="submit" id="submit-comment" value="ارسال">
                                    </div>
                                }
                            </div>


                            @foreach (var comment in Model.Course.Comments)
                            {
                                <div class="container-answer-question">
                                    <div id="comment-@comment.Id" class="box-comment-question" id="comment-@comment.Id">
                                        <div class="container-photo-comment-answer-btn">
                                            <img src="~/images/profile-8.jpg" alt="profile user" class="img-profile-user">
                                            <a style="padding: 5px; margin-top: 4px;" href="#formPost" onclick='$("#commentParenId").val(@comment.Id)' class="btn-answer text-center">
                                                پاسخ
                                                <i class="fas fa-reply icon-answer"></i>
                                            </a>
                                        </div>
                                        <div class="container-name-text-comment">
                                            <div class="container-name-date">
                                                <h6 class="name-commanet-question">@comment.Name</h6>
                                                <div class="line-name-date"></div>
                                                <p class="date-question"> 23:59 - @comment.CreationDate</p>
                                            </div>
                                            <div>
                                                <p class="text-question">
                                                    @comment.Message
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    @if (comment.SubComment.Count != 0)
                                    {
                                        @foreach (var sub in comment.SubComment)
                                        {
                                            <div id="comment-@sub.Id" class="box-comment-answer">
                                                <div class="container-photo-comment-answer-btn">
                                                    <img src="~/images/profile-2.jpg" alt="profile user" class="img-profile-user">
                                                    <a style="padding: 5px; margin-top: 4px;" href="#formPost" onclick='$("#commentParenId").val(@comment.Id)' class="btn-answer text-center">
                                                        پاسخ
                                                        <i class="fas fa-reply icon-answer"></i>
                                                    </a>
                                                </div>
                                                <div class="container-name-text-comment">
                                                    <div class="container-name-date">
                                                        <h6 class="name-commanet-question">@sub.Name</h6>
                                                        <div class="line-name-date"></div>
                                                        <p class="date-question"> 23:59 - @sub.CreationDate</p>
                                                    </div>
                                                    <div>
                                                        <p class="text-question">
                                                            @sub.Message
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <partial name="Shared/PartialViews/_Subcomment" model="sub.SubComment" />
                                        }
                                    }

                                    <div class="line-end-comment-box"></div>
                                </div>
                            }
                            <button id="more-comment-btn" disabled>شماهده نظرات بیشتر ...</button>
                        </div>
                    </form>
                </section>
            </div>
        </section>
    </div>
</main>

