@page "{id}"
@using _0_Framework.Application
@using ShiftCoderQuery.Contract.CourseGroup
@using Shop.Management.Application.Contract.CourseEpisode
@using ShopManagement.Domain.CourseGroupAgg
@model WebHost.Pages.SingleCourseModel
@inject ICourseGroupQuery _group
@inject ICourseGroupRepository _courseGroup
@{
    ViewData["Title"] = Model.Course.Name;
    ViewData["keyWords"] = Model.Course.KeyWords;
    ViewData["metaDescription"] = Model.Course.MetaDescription;
    ViewData["Type"] = "Course";
    ViewData["CanonicalAddress"] = $"{Model.Course.CanonicalAddress}/SingleCourse/{Model.Course.Slug}";
    ViewData["image"] = Model.Course.Picture;
    ViewData["Url"] = $"SingleCourse/{Model.Course.Slug}";
    ViewData["author"] = Model.Course.TeacherName;
    ViewData["owner"] = Model.Course.TeacherName;


    <meta name=googlebot content=index,follow>
    <meta name=robots content=noodp,noydir>
    <meta name=description content="@Model.Course.MetaDescription">
    
    <meta property=og:site_name value="لرن هاب">
    <meta property=og:title content="@Model.Course.Name">
    <meta property=og:url content="https://ihsasdevelopment.ir/SingleCourse/@Model.Course.PictureTitle"/>
    <meta property=og:image content="~/FileUploader/@Model.Course.Picture"> 
    <meta property=og:image:url content="~/FileUploader/@Model.Course.Picture"/>
    <meta property=og:image:width content="700">

    <meta property=og:image:type content="image/jpg">
    <meta property=og:description content="@Model.Course.MetaDescription">
    <meta property=og:price:currency content="IRR">
    <meta property=og:locale content="ir_FA">



    var userInCourse = false;
    if (User.Identity.IsAuthenticated)
        userInCourse = Model.UserInCourse;

    var time = new TimeSpan(Model.Course.EpisodeCourse.Sum(t => t.Time.Ticks));

}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Header Start -->
<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            @if (!Model.IsAuthenticated)
            {
                <h3 class="text-primary text-uppercase text-left account-link" style="margin-bottom: 2rem !important">
                    <a class="text-primary text-uppercase" style="font-size:15px" asp-page="Login"> ورود </a> <a style="font-size:13px">/</a> 
                    <a class="text-primary text-uppercase" style="font-size:15px" asp-page="Account" asp-page-handler="Register"> عضویت </a>
                </h3>
            }
            else
            {
                <h3 class="text-primary  text-left account-link" style="margin-bottom: 2rem !important">
                    <a class=" text-primary" style="font-size:15px" asp-page="Login"><i class="fas fa-user-tie"></i> @Model.CurrentFullName، خوش آمدی </a> 
                    <a class="text-primary text-uppercase" style="font-size:15px">/</a> <a class="text-primary text-uppercase" style="font-size:13px" asp-page="Account" asp-page-handler="Logout"> خروج </a>

                </h3>
            }
            <h2 class=" text-white text-uppercase">@Model.Course.Name</h2>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" asp-page="Index">خانه</a></p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                <p class="m-0 text-uppercase"><a class="text-white" asp-page="Courses" asp-route-id="@Model.Course.CourseGroupSlug">@Model.Course.CourseGroup</a></p>
            </div>
        </div>
    </div>
</div>


<!-- Detail Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
    <div class="row">
    <div class="col-lg-4" style="margin-top: 5rem !important">

        <!---display show for mobile--->
        <div class="mb-5">
            <h6 class="text-primary mb-3 d-sm-block d-md-block d-lg-none">@Model.Course.CreationDate.ToFarsi()</h6>
            <h1 class="mb-5 d-sm-block d-md-block d-lg-none">@Model.Course.ShortDescription</h1>
        </div>

        <div class="d-flex flex-column bg-aliceblue text-center rounded mb-5 py-5 px-4">
            <div class="container-info-aside price-course">
                <h3 id="text-price">قیمت دوره</h3>
                <h3 id="value-price"><span>@((Model.Course.Price == 0) ? "رایگان" : $"{Model.Course.Price.ToMoney()} تومان")</span></h3>
            </div>
            <div class="line-aside"></div>
            <div class="container-info-aside">
                <div class="container-title-line-aside">
                    <i class="fas fa-user-tie icon-title-aside"></i>
                    <p class="paragraph-info-aside">مدرس :</p>
                </div>
                <div class="container-title-line-aside">
                    <h2 class="value-info-aside">@Model.Course.TeacherName</h2>
                </div>
            </div>
            <div class="container-info-aside">
                <div class="container-title-line-aside">
                    <i class="fas fa-user-graduate icon-title-aside"></i>
                    <p class="paragraph-info-aside">تعداد دانشجویان :</p>
                </div>
                <div class="container-title-line-aside">
                    <h5 class="value-info-aside">@Model.Course.UserCourse.Count نفر</h5>
                </div>
            </div>
            <div class="container-info-aside">
                <div class="container-title-line-aside">
                    <i class="fas fa-play-circle icon-title-aside"></i>
                    <p class="paragraph-info-aside">تعداد قسمت ها :</p>
                </div>
                <div class="container-title-line-aside">
                    <h5 class="value-info-aside">@Model.Course.EpisodeCount قسمت</h5>
                </div>
            </div>
            <div class="container-info-aside">
                <div class="container-title-line-aside">
                    <i class="fas fa-clock icon-title-aside"></i>
                    <p class="paragraph-info-aside">مدت زمان دوره :</p>
                </div>
                <div class="container-title-line-aside">
                    <h5 class="value-info-aside">
                        @time
                    </h5>
                </div>
            </div>

            @if (Model.Course.UpdateDate != "")
            {
                <div class="container-info-aside">
                    <div class="container-title-line-aside">
                        <i class="fas fa-calendar-check icon-title-aside"></i>
                        <p class="paragraph-info-aside">آخرین بروزرسانی :</p>
                    </div>

                    <div class="container-title-line-aside">
                        <h5 class="value-info-aside">@Model.Course.UpdateDate</h5>
                    </div>
                </div>
            }

            <div class="container-info-aside">
                <div class="container-title-line-aside">
                    <i class="fas fa-layer-group icon-title-aside"></i>
                    <p class="paragraph-info-aside">سطح دوره آموزشی :</p>
                </div>
                <div class="container-title-line-aside">
                    <h5 class="value-info-aside">@Model.Course.CourseLevel</h5>
                </div>
            </div>
            <div class="container-info-aside">
                <div class="container-title-line-aside">
                    <i class="fas fa-question-circle icon-title-aside"></i>
                    <p class="paragraph-info-aside">وضعیت دوره :</p>
                </div>
                <div class="container-title-line-aside">
                    <h5 class="value-info-aside state-course @((Model.Course.CourseStatus == "در حال برگذاری") ? "" : "text-primary")">@Model.Course.CourseStatus</h5>
                </div>
            </div>
            <div id="container-register-course">
                @if (Model.Course.Price > 0 && !userInCourse)
                {
                    <a asp-page="BuyCourse" asp-route-id="@Model.Course.Id" id="btn-register-course">
                        <i class="fas fa-shopping-basket icon-register"></i>
                        <span id="span-text-register">شرکت در دوره @Model.Course.Price.ToMoney() تومان</span>
                    </a>
                }

                else if (userInCourse)
                {
                    <a id="btn-register-course">
                        <i class="fas fa-shopping-basket icon-register"></i>
                        <span id="span-text-register">شما قبلا این دوره را خریده اید.</span>
                    </a>
                }

                else
                {
                    <a asp-page="BuyCourse" asp-route-id="@Model.Course.Id" id="btn-register-course">
                        <i class="fas fa-shopping-basket icon-register"></i>
                        <span id="span-text-register">شرکت رایگان در دوره.</span>
                    </a>
                }
            </div>
        </div>

        <br/>
        <!-- Author Bio -->
        <div class="d-flex flex-column bg-aliceblue text-center text-dark rounded mb-5 py-5 px-4">
            <img src="~/FileUploader/UserAvatar/@Model.Course.TeacherAvatar" alt="@Model.Course.TeacherName" class="img-fluid rounded-circle mx-auto mb-3" style="width: 100px; height: 100px">
            <h3 class="text-primary mb-3">@Model.Course.TeacherName</h3>
            <h6 class="text-uppercase mb-4">@Model.Course.TeacherSkills</h6>
            <p class="m-0">
                @Model.Course.TeacherBio
            </p>
        </div>
        <!----Forum-->
        <a asp-page="Forum" asp-route-id="@Model.Course.Id" class="btn btn-block btn-info mb-3 qustion"> پرسش و پاسخ این درس</a>
      
    <div class="condition-course condition-course-mb">
        <div id="container-view-comment-number">
            <div id="view-aside">
                <i class="far fa-eye icon-view-comment-number"></i>
                <p class="paragraph-view-comment-number">@Model.Course.VisitCount بازدید</p>
            </div>
            <div id="line-y-aside"></div>
            <div id="comment-aside">
                <i class="fa fa-comments icon-view-comment-number"></i>
                <p class="paragraph-view-comment-number">@Model.Course.CommentList.Count کامنت</p>
            </div>
        </div>
        <div id="container-share-media">
            <p id="text-share-media">با دوستانت به اشتراک بیگذار</p>
            <div id="container-icons-share-social">
                <div class="container-icon-share-social">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://ihsasdevelopment.ir/SingleCourse/@Model.Course.Slug"><i class="fab fa-facebook-square icon-share-social"></i></a>
                </div>
                <div class="container-icon-share-social">
                    <a ><i class="fab fa-whatsapp icon-share-social icon-whatsapp-share"></i></a>
                </div>
                <div class="container-icon-share-social">
                    <a href="https://twitter.com/intent/tweet?url=https://ihsasdevelopment.ir/SingleCourse/@Model.Course.Slug"><i class="fab fa-twitter icon-share-social"></i></a>
                </div>
                <div class="container-icon-share-social">
                    <a ><i class="fab fa-telegram-plane icon-share-social icon-telegram-share"></i></a>
                </div>

            </div>
        </div>
    </div>
        <br />
        <!-- Category List -->
        <div class="mb-5 d-lg-block d-none mt-3">
            <h3 class="text-uppercase mb-4">دسته بندی ها</h3>
            <ul class="list-group list-group-flush">
                @foreach (var category in _group.LatestCourseGroup().Take(4))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a asp-page="Courses" asp-route-id="@category.Slug" class="text-decoration-none h6 m-0">@category.Title</a>
                        <span class="badge badge-primary badge-pill mt-2">@category.CourseCount</span>
                    </li>
                }

            </ul>
        </div>

        <!-- Recent Post -->
        <div class="mb-5 d-lg-block d-none">
            <h3 class="text-uppercase mb-4">آخرین دوره ها</h3>
            @foreach (var latestCourse in Model.LatestCourse)
            {
                var courseGroupSlug = _courseGroup.GetSlug(latestCourse.CourseGroupId);
                var picture = latestCourse.Picture.Replace($"/Courses/{courseGroupSlug}/",string.Empty);

                <a asp-page="SingleCourse"  asp-route-id="@latestCourse.Slug" class="d-flex align-items-center text-decoration-none mb-3">
                    <img  class="img-fluid rounded" src="~/FileUploader/Thumb/80X80/@picture" alt="@latestCourse.PictureAlt" title="@latestCourse.PictureTitle">
                    <div class="pl-3">
                        <h6 class="m-1 mr-3">@latestCourse.ShortDescription</h6>
                        <small class="mr-3" dir="rtl">@Tools.ChangeTimeToFarsi(latestCourse.CreationDate, "dddd- MM / yyyy")</small>
                    </div>
                </a>
            }

        </div>

        <!-- Tag Cloud -->
        <div class="mb-5 d-lg-block d-none">
            <h3 class="text-uppercase mb-4">کلمات کلیدی</h3>
            <div class="d-flex flex-wrap m-n1">
                @foreach (var keywords in Model.Course.Keywords)
                {
                    <a asp-page="AllCourses" asp-route-Search="@keywords" class="btn btn-outline-primary m-1">@keywords</a>
                }
            </div>
        </div>
    </div>

    <div class="col-lg-8" style="position: relative; float: left">
    <div class="mb-5">
            <h6 class="text-primary mb-3 d-lg-block d-none">@Model.Course.CreationDate.ToFarsi()</h6>
        <h1 class="mb-5 d-lg-block d-none">@Model.Course.ShortDescription</h1>
        <img class="img-fluid rounded w-100 mb-4" src="~/FileUploader/@Model.Course.Picture" alt="@Model.Course.PictureAlt" title="@Model.Course.PictureTitle">
        @Html.Raw(Model.Course.Description)
    </div>
    <hr/>
    <div id="container-img-title">


        @if (ViewData["Episode"] != null)
        {
            var episode = ViewData["Episode"] as CourseEpisodeViewModel;
            <video id="player" playsinline controls class="video-title-content">
                <source src="@ViewData["FilePath"]" type="video/mp4" style="width: 100%" class="video-title-content">
            </video>
        }
        else
        {
            <video id="player" playsinline controls poster="~/FileUploader/@Model.Course.PosterImg" class="video-title-content">
                <source src="~/FileUploader/@Model.Course.File" type="video/mp4" class="video-title-content">
            </video>
        }

    </div>
    <br/>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <p class="alert alert-info text-center">برای جزئیات بیشتر لطفا سر فصل های دوره را ببنید</p>
            <h2 class="accordion-header mb-0 mt-h2-accordion" id="headingOne">
                <button class="accordion-button collapsed accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <p class="text-center"> برای دیدن سرفصل های دوره کلیک کنید</p>
                </button>
            </h2>

            <div id="collapseOne" class="accordion-collapse collapse text-center" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @if (!userInCourse)
                    {
                        @if (Model.Course.Price != 0)
                        {
                            <p class=" text-success mt-2 text-center"><b>بعد از ثبت نام در دوره و تایید فاکتور، لینک های دانلود برای شما فعال خواهد شد</b></p>
                        }
                        if (!User.Identity.IsAuthenticated)
                        {
                            <p class=" text-info mt-2 text-center"><b>برای تماشای آنلاین فایل های رایگان لطفا وارد <a asp-page="Account" asp-page-handler="RegisterUserViewModel">حساب </a>خود شوید</b></p>
                        }
                        <hr/>
                    }
                    @foreach (var episode in Model.Course.EpisodeCourse)
                    {
                        <div class="container-Section">
                            <div class="container-right-section">
                                <i class="fas fa-video video-icon"></i>
                                <h4 class="title-section">@episode.Title</h4>
                                <div class="line-section"></div>
                                <p class="video-time">@episode.Time</p>
                                <div class="line-section"></div>

                                @if (!userInCourse)
                                {
                                    @if (episode.IsFree)
                                    {
                                        <a class="text-success">رایگان</a>
                                    }
                                    else
                                    {
                                        <p class="text-info">نقدی</p>

                                    }
                                }

                            </div>
                            <div class="container-left-section">

                                @if (!userInCourse)
                                {
                                    @if (episode.IsFree)
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a href="/SingleCourse/@Model.Course.Slug?episode=@episode.Id"><i class="fas fa-play icon-left-section"></i></a>
                                            <a asp-page="SingleCourse" asp-page-handler="DownloadFile" asp-route-id="@episode.Id"><i class="fas fa-download icon-left-section"></i></a>
                                        }
                                        else
                                        {
                                            <a><i class="fas fa-play icon-left-section"></i></a>
                                            <a asp-page="SingleCourse" asp-page-handler="DownloadFile" asp-route-id="@episode.Id"><i class="fas fa-download icon-left-section"></i></a>
                                        }

                                    }
                                    else
                                    {
                                        <a><i class="fas fa-play icon-left-section"></i></a>
                                        <a><i class="fas fa-download icon-left-section"></i></a>
                                    }
                                }
                                else
                                {
                                    <a href="/SingleCourse/@Model.Course.Slug?episode=@episode.Id"><i class="fas fa-play icon-left-section"></i></a>
                                    <a asp-page="SingleCourse" asp-page-handler="DownloadFile" asp-route-id="@episode.Id"><i class="fas fa-download icon-left-section"></i></a>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <br/>
    <hr/>
    <!-- Comment List -->
    <div class="mb-5">
        @if (Model.Course.CommentList.Count > 0)
        {
            <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">@Model.Course.CommentList.Count نظر</h3>
        }
        @foreach (var comment in Model.Course.Comments)
        {
            <div id="comment-@comment.Id" class="media mb-4">
                @if (!string.IsNullOrEmpty(comment.Picture))
                {
                    <img src="~/FileUploader/UserAvatar/@comment.Picture" alt="@comment.Name" title="@comment.Name"  class="img-fluid rounded-circle mr-3 mt-1"
                         style="width: 45px;">
                }

                else
                {
                    <img src="~/img/DefaultImg/comment-img.png" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                         style="width: 45px;">
                }
                <div class="media-body">
                    <h6 class="mr-3">@comment.Name <small class="mr-3" dir="rtl"><i>@comment.CreationDate</i></small></h6>
                    <p class="mr-3">
                        @comment.Message
                    </p>
                    <a href="#formPost" onclick='$("#commentParenId").val(@comment.Id)' class="btn btn-sm btn-secondary">پاسخ</a>

                    @if (comment.SubComment.Count != 0)
                    {
                        @foreach (var sub in comment.SubComment)
                        {

                            <div id="comment-@sub.Id" class="media mt-4">

                                @if (!string.IsNullOrEmpty(sub.Picture))
                                {
                                    <img src="~/FileUploader/UserAvatar/@sub.Picture"  alt="@sub.Name" title="@sub.Name"  class="img-fluid rounded-circle mr-3 mt-1"
                                         style="width: 45px;">
                                }

                                else
                                {
                                    <img src="~/img/DefaultImg/comment-img.png" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                                         style="width: 45px;">
                                }

                                <div class="media-body">
                                    <h6 class="mr-3">@sub.Name <small class="mr-3" dir="rtl"><i>@sub.CreationDate</i></small></h6>
                                    <p class="mr-3">
                                        @sub.Message
                                    </p>
                                    <a href="#formPost" onclick='$("#commentParenId").val(@sub.Id)' class="btn btn-sm btn-secondary">پاسخ</a>
                                </div>
                            </div>
                            <partial name="Shared/PartialViews/_Subcomment" model="sub.SubComment"/>
                        }
                    }
                </div>
            </div>
        }

    </div>


    @{ var type = ViewData["Type"];}

    @if (type is "send-comment")
    {
        <script>
            swal("موفق", "نظر شما بعد از تایید مدیر نشر خواهد شد", "success");
        </script>
    }


    <!-- Comment Form -->
    <div class="bg-secondary rounded p-5">
        <h3 class="text-uppercase mb-4">دیدگاه خود را بنویسید</h3>
        <form method="post" id="formPost">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="form-group">
                    <label for="message">دیدگاه *</label>
                    <textarea id="message" name="message" cols="30" rows="5" class="form-control border-0" required oninvalid="this.setCustomValidity('دیدگاه خود را بنویسید.')"
                                          oninput="setCustomValidity('')"></textarea>
                </div>
                <div class="form-group mb-0">
                    <input type="submit" value="ارسال نظر" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                </div>

                <input type="hidden" name="ownerRecordId" value="@Model.Course.Id"/>
                <input type="hidden" name="productSlug" value="@Model.Course.Slug"/>
                <input type="hidden" name="parentId" id="commentParenId" value=""/>
            }
            else
            {
                <div class="form-group">
                    <label for="name">نام *</label>
                    <input name="name" type="text" class="form-control border-0" id="name" required oninvalid="this.setCustomValidity('نام خود را بنویسید.')"
                           oninput="setCustomValidity('')">
                </div>
                <div class="form-group">
                    <label for="email">ایمیل *</label>
                    <input name="email" type="email" class="form-control border-0" id="email" required oninvalid="this.setCustomValidity('لطفا ایمیل خود را وارد کنید، ایمیلی شما در جای منتشر نخواهد شد')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="form-group">
                    <label for="message">نظر *</label>
                    <textarea name="message" id="message" cols="30" rows="5" class="form-control border-0" required oninvalid="this.setCustomValidity('دیدگاه خود را بنویسید.')"
                                          oninput="setCustomValidity('')"></textarea>
                </div>
                <div class="form-group mb-0">
                    <input type="submit" value="ثبت نظر" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                </div>

                <input type="hidden" name="ownerRecordId" value="@Model.Course.Id"/>
                <input type="hidden" name="productSlug" value="@Model.Course.Slug"/>
                <input type="hidden" name="parentId" id="commentParenId" value=""/>

            }
        </form>
    </div>
    </div>

    <div class="col-lg-4" style="margin-top: 8rem !important">
        
        

        <!---display show for mobile--->
        <!-- Category List -->
        <div class="mb-5 d-sm-block d-md-block d-lg-none">
            <h3 class="text-uppercase mb-4 ">دسته بندی ها</h3>
            <ul class="list-group list-group-flush">
                @foreach (var category in _group.LatestCourseGroup().Take(4))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a asp-page="Courses" asp-route-id="@category.Slug" class="text-decoration-none h6 m-0">@category.Title</a>
                        <span class="badge badge-primary badge-pill">@category.CourseCount</span>
                    </li>
                }

            </ul>
        </div>

        <!-- Recent Post -->
        <div class="mb-5 d-sm-block d-md-block d-lg-none">
            <h3 class="text-uppercase mb-4">آخرین دوره ها</h3>
            @foreach (var latestCourse in Model.LatestCourse)
            {
                var courseGroupSlug = _courseGroup.GetSlug(latestCourse.CourseGroupId);
                var picture = latestCourse.Picture.Replace($"/Courses/{courseGroupSlug}/", string.Empty);

                <a asp-page="SingleCourse" asp-route-id="@latestCourse.Slug" class="d-flex align-items-center text-decoration-none mb-3">
                    <img class="img-fluid rounded" src="~/FileUploader/Thumb/80X80/@picture" alt="@latestCourse.PictureAlt" title="@latestCourse.PictureTitle">
                    <div class="pl-3">
                        <h6 class="m-1 mr-3">@latestCourse.ShortDescription</h6>
                        <small class="mr-3" dir="rtl">@Tools.ChangeTimeToFarsi(latestCourse.CreationDate, "dddd- MM / yyyy")</small>
                    </div>
                </a>
            }

        </div>

        <!-- Tag Cloud -->
        <div class="mb-5 d-sm-block d-md-block d-lg-none">
            <h3 class="text-uppercase mb-4">کلمات کلیدی</h3>
            <div class="d-flex flex-wrap m-n1">
                @foreach (var keywords in Model.Course.Keywords)
                {
                    <a asp-page="AllCourses" asp-route-Search="@keywords" class="btn btn-outline-primary m-1">@keywords</a>
                }
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
