@page
@using _0_FrameWork.Application
@model WebHost.Areas.Administration.Pages.Account.Roles.IndexModel
@{
    ViewData["Title"] = "مدیریت نقش ها";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="page-header">مدیریت نقش ها</h1>
        </div>
        <div dir="ltr" class="col-lg-6 mr-3">
            <h1 Permission="@Permission.CreateRoles" class="page-header">
                <a class="btn btn-success btn-lg" asp-page="Create">افزودن نقش جدید</a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    لیست
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            
                            
                            <hr />
                            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                                <thead>
                                    <tr role="row" class="text-center">
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 50px;"> # </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 50px;"> عنوان نقش </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 242px;">عملیات</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model.List)
                                    {
                                        <tr class="gradeU odd">
                                            <td class="">@item.Id</td>
                                            <td class="sorting_1">@item.Name</td>

                                            <td class="center ">
                                                <a Permission="@Permission.EditRoles" class="btn btn-warning text-center" asp-page="Edit" asp-route-id="@item.Id">ویرایش</a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>

