@page
@using Type = _0_FrameWork.Application.ThisType
@model WebHost.Areas.Administration.Pages.Account.Users.TeacherModel
@{
    ViewData["Title"] = "افزودن استاد";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="page-header">مدیریت اساتید</h1>
        </div>
       
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    لیست
                </div>
              
                    برای افردون استاد : از منوی کاربران کاربری جدید اظافه کرده و نقش استاد را
                    بهش بدین.
                
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <hr />
                            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                                <thead>
                                    <tr role="row" class="text-center">
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" > # </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"aria-sort="ascending"><strong>نام و نام خانوادگی</strong> </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"aria-sort="ascending">نقش </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"aria-sort="ascending"><strong>مهارت</strong> </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"aria-sort="ascending"><strong>رزومه</strong> </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"aria-sort="ascending"><strong>بیو</strong> </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">عملیات</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model.List)
                                    {
                                        <tr >
                                            <td >@item.Id</td>
                                            <td >@item.AccountName</td>
                                            <td>
                                                @if (item.Type == Type.Blogger)
                                                {
                                                    <span>نویسنده (بلاگر)</span>

                                                }
                                                else
                                                {
                                                    <span>استاد</span>
                                                }

                                            </td>
                                            <td>@item.Skills</td>
                                            <td>@item.Resumes</td>
                                            <td>@item.Bio</td>
                                           
                                            <td class="center ">
                                                <a class="btn btn-warning text-center" href="#showmodal=@Url.Page("./Teacher", "TeacherEdit", new { id = item.Id})">ویرایش</a>
                                                <a class="btn btn-danger text-center" href="#showmodal=@Url.Page("./Teacher", "Delete", new { id = item.Id})">حذف</a>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
