@using _0_FrameWork.Application


    <div class="navbar-default navbar-static-side" role="navigation" >
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="جستجو...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </li>
                <li>
                    <a asp-page="/Index"><i class="fa fa-dashboard fa-fw"></i> داشبورد</a>
                </li>
                <li>
                    <a permission="@Permission.SystemAdministratorActivity" asp-page=""><i class="fa fa-user-alt"></i> فعالیت ها (مدیر)<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="height: auto;">
                        <li>
                            <a   asp-page="/Notifications/Index">اعلانات </a>
                        </li>
                        
                        <li>
                            <a asp-page="/Orders/Index">سفارشات </a>
                        </li>
                        
                        <li>
                            <a  asp-area="Administration" asp-page="/Notifications/Index" asp-page-handler="AdminsActivity">فعالیت مدیران سیستم </a>
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                    
                
                <li>
                    <a asp-page=""><i class="fa fa-book "></i> مدیریت دوره ها<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="height: auto;">
                        <li>
                            <a permission="@Permission.ListCourseGroups" asp-page="/Courses/CourseGroup/Index">گروه ها </a>
                        </li>

                        <li>
                            <a permission="@Permission.ListCourses" asp-page="/Courses/Course/Index">کورس ها </a>
                        </li>

                        <li>
                            <a asp-page="/Courses/Course/Index">جزئیات دوره ها <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level text-danger">

                                <li>
                                    <a asp-page="/Courses/CourseEpisode/Index">فایل های دوره </a>
                                </li>

                                <li>
                                    <a asp-page="/Courses/CourseStatus/Index">وضعیت دوره ها </a>
                                </li>
                                <li>
                                    <a asp-page="/Courses/CourseLevel/Index">سطح دوره ها</a>
                                </li>
                                @*<li>
                                    <a asp-page="/Courses/CourseSuitable/Index">دوره مناسب چی افرادی است؟</a>
                                </li>
                                <li>
                                    <a asp-page="/Courses/CoursePrerequisite/Index">پیش نیاز های دوره</a>
                                </li>
                                <li>
                                    <a asp-page="/Courses/AfterCourse/Index">توقعات بعد از تماشای دوره</a>
                                </li>*@
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                
                
                <li>
                    <a asp-page=""><i class="fa fa-user"></i> مدیریت حساب کاربران<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="height: auto;">
                        <li>
                            <a permission="@Permission.ListUsers" asp-page="/Account/Users/Index">کاربران </a>
                        </li>

                        <li>
                            <a permission="@Permission.ListBlockedUsers" asp-page="/Account/Users/BlockedUserList" asp-area="Administration">کاربران مسدود شده </a>
                        </li>

                        <li>
                            <a permission="@Permission.ListTeacherAndBlogger" asp-page="/Account/Users/Teacher">اساتید و بلاگر </a>
                        </li>

                        <li>
                            <a permission="@Permission.ListRoles" asp-page="/Account/Roles/Index">نقش ها و سطح دسترسی </a>
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a asp-page=""><i class="fa fa-book-open"></i> سیستم تخفیفات<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="height: auto;">
                        <li>
                            <a permission="@Permission.ListCostumerDiscount" asp-page="/Discount/CustomerDiscount/Index">تخفیفات مشتری </a>
                        </li>

                        <li>
                            <a permission="@Permission.ListColleagueDiscount" asp-page="/Discount/ColleagueDiscount/Index">تخفیفات همکار </a>
                        </li>

                        <li>
                            <a permission="@Permission.ListDiscountCode" asp-page="/Discount/DiscountCode/Index">تخفیفات کد اختصاصی </a>
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                

                <li>
                    <a asp-page=""><i class="fa fa-book-open"></i> مدیریت مقاله ها<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="height: auto;">
                        <li>
                            <a permission="@Permission.ListArticleCategories" asp-page="/Blog/ArticleCategory/Index">گروه مقاله ها </a>
                        </li>

                        <li>
                            <a permission="@Permission.ListArticles" asp-page="/Blog/Article/Index">مقاله ها </a>
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a permission="@Permission.ListComments" asp-page="/Comment/Index"><i class="fa fa-comment fa-fw"></i> کامنت ها</a>
                </li>
            </ul>
        </div>
    </div>


