@using _0_Framework.Application
@using ShopManagement.Domain.CourseGroupAgg
@model IEnumerable<ShiftCoderQuery.Contract.Course.GetCourseGroupViewModel>
@inject ICourseGroupRepository _courseGroup

<div class="row">
    @foreach (var course in Model)
    {
        var courseGroupSlug = _courseGroup.GetSlug(course.CourseGroupId);
                
        var picture = course.Picture.Replace($"/Courses/{courseGroupSlug}/",string.Empty);
       
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="rounded overflow-hidden mb-2">
                <img class="img-fluid" src="~/FileUploader/Thumb/@picture" title="@course.PictureTitle" alt="@course.PictureAlt">
                <div class="bg-secondary p-4">
                    <div class="d-flex justify-content-between mb-3">
                        <small class="m-0"><i class="fa fa-users text-primary mr-3"></i>@course.UserCourse.Count دانشجو</small>
                        <small class="m-0">
                            <i class="far fa-clock text-primary mr-3"></i>@course.TotalTime
                        </small>
                    </div>
                    <a class="h5" asp-page="SingleCourse" asp-route-id="@course.Slug">@course.Name</a>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                            @if (course.Price > 0)
                            {
                                <h5 class="m-0">@course.Price.ToMoney() تومان</h5>
                            }
                            else
                            {
                                <h5 class="m-0 text-success">رایگان</h5>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>