@model IEnumerable<ShiftCoderQuery.Contract.Comment.CommentQueryModel>


@foreach (var sub in Model)
{
    <div class="box-comment-answer" >
        <div class="container-photo-comment-answer-btn">
            @if (!string.IsNullOrEmpty(sub.Picture))
            {
                <img src="~/FileUploader/@sub.Picture" alt="profile user" class="img-profile-user">
            }

            else
            {
                <img src="~/images/DefaultImg/comment-img.png" alt="profile user" class="img-profile-user">
            }  
            <a style="padding: 5px; margin-top: 4px;" href="#formPost" onclick='$("#commentParenId").val(@sub.Id)' class="btn-answer text-center">
                پاسخ
                <i class="fas fa-reply icon-answer"></i>
            </a>
        </div>
        <div class="container-name-text-comment">
            <div id="comment-@sub.Id" class="container-name-date">
                <h6 class="name-commanet-question">@sub.Name</h6>
                <div class="line-name-date"></div>
                <p class="date-question"> 23:59 - @sub.CreationDate</p>
            </div>

            <p  class="small text-warning">در پاسخ به : 
                <a class="text-primary" @*href="#comment-@sub.ParentId"*@>@sub.ParentName</a></p>
            <div>
                <p class="text-question">
                    @sub.Message
                </p>
            </div>
        </div>
    </div>

}
