@model IEnumerable<ShiftCoderQuery.Contract.Comment.CommentQueryModel>
@foreach (var sub in Model)
{
    <div id="comment-@sub.Id" class="media mt-4">

        @if (!string.IsNullOrEmpty(sub.Picture))
        {
            <img src="~/FileUploader/UserAvatar/@sub.Picture" alt="@sub.Name" title="@sub.Name" class="img-fluid rounded-circle mr-3 mt-1"
                 style="width: 45px;">
        }

        else
        {
            <img src="~/img/DefaultImg/comment-img.png" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                 style="width: 45px;">
        }

        <div class="media-body">
            <h6 class="mr-3">
                @sub.Name
                <small class="mr-3" dir="rtl">
                    <i>@sub.CreationDate</i>
                </small>
            </h6>
            <p class="mr-3">
                @sub.Message
            </p>
            <a href="#formPost" onclick='$("#commentParenId").val(@sub.Id)' class="btn btn-sm btn-secondary">پاسخ</a>
        </div>
    </div>
}